### Developing gloss import function

HVEC lab, October 2022

In [1]:
import os
import pandas as pd
from matplotlib import pyplot as plt
import requests

In [4]:
url = {
    'netcdf': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_rqds.mat?'
        'sea_level%2Ctime%2Clatitude%2Clongitude%2Cstation_name%2Cstation_country%'
        '2Cstation_country_code%2Crecord_id%2Cuhslc_id%2Cversion%2Cgloss_id%2Cssc_id%'
        '2Cdecimation_method%2Creference_code%2Creference_offset&time%3E=2015-01-01T00%'
        '3A00%3A00Z&time%3C=2023-12-31T00%3A00%3A00Z&gloss_id=284',
    'csv': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_rqds.csv?sea_level'
        '%2Ctime%2Cstation_name%2Crecord_id%2Cuhslc_id%2Cversion%2Cgloss_id%2Cssc_id'
        '%2Creference_code%2Creference_offset&time%3E=1700-01-01T00%3A00%3A00Z&time%3C=2050-12-31T13%3A59%3A59Z&gloss_id=284',
    'csvfast': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_fast.csv?sea_level%2Ctime'
        '%2Cstation_name%2Crecord_id%2Cuhslc_id%2Cgloss_id%2Cssc_id%2Clast_rq_date&time'
        '%3E=1700-1-1T00%3A00%3A00Z&time%3C=2050-12-31T22%3A59%3A59Z&gloss_id=284',
    'asc': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_rqds.asc?sea_level%2Ctime%2Clatitude%2Clongitude%'
        '2Cstation_name%2Cstation_country%2Cstation_country_code%2Crecord_id%2Cuhslc_id%2Cversion%'
        '2Cgloss_id%2Cssc_id%2Cdecimation_method%2Creference_code%2Creference_offset&time%'
        '3E=1750-01-01T00%3A00%3A00Z&time%3C=2023-12-31T00%3A00%3A00Z&gloss_id=284',
    'json': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_rqds.json?sea_level%2Ctime%'
        '2Clatitude%2Clongitude%2Cstation_name%2Cstation_country%2Cstation_country_code%2Crecord_id%'
        '2Cuhslc_id%2Cversion%2Cgloss_id%2Cssc_id%2Cdecimation_method%2Creference_code%'
        '2Creference_offset&time%3E=1800-1-1&time%3C=2022-07-30T13%3A59%3A59Z&gloss_id=284'
}

In [5]:
res = pd.read_csv(url['csvfast'], skiprows = [1])

In [6]:
res

,sea_level,time,station_name,record_id,uhslc_id,gloss_id,ssc_id,last_rq_date
0,3680.0,1917-12-29T09:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
1,4690.0,1917-12-29T10:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
2,5370.0,1917-12-29T10:59:59Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
3,5680.0,1917-12-29T12:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
4,5750.0,1917-12-29T13:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
...,...,...,...,...,...,...,...,...
917554,4257.0,2022-08-31T19:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
917555,3783.0,2022-08-31T19:59:59Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
917556,3388.0,2022-08-31T21:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
917557,3350.0,2022-08-31T22:00:00Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z
917558,3858.0,2022-08-31T22:59:59Z,Cuxhaven,8250,825,284,cuxh,2018-12-31T22:59:59Z

In [7]:
res = pd.read_csv(url['csv'], skiprows = [1])

In [8]:
res

,sea_level,time,station_name,record_id,uhslc_id,version,gloss_id,ssc_id,reference_code,reference_offset
0,3680,1917-12-29T09:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
1,4690,1917-12-29T10:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
2,5370,1917-12-29T10:59:59Z,Cuxhaven,8251,825,A,284,cuxh,R,0
3,5680,1917-12-29T12:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
4,5750,1917-12-29T13:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
...,...,...,...,...,...,...,...,...,...,...
885418,6370,2018-12-31T19:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
885419,6360,2018-12-31T19:59:59Z,Cuxhaven,8251,825,A,284,cuxh,R,0
885420,6020,2018-12-31T21:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
885421,5490,2018-12-31T22:00:00Z,Cuxhaven,8251,825,A,284,cuxh,R,0
885422,4960,2018-12-31T22:59:59Z,Cuxhaven,8251,825,A,284,cuxh,R,0

In [9]:
from hvec_importers import gloss

In [10]:
gloss.url

{'gloss_core_network': 'https://www.gloss-sealevel.org/gloss-station-handbook',
 'fast_delivery': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_fast.csv?sea_level%2Ctime%2Cstation_name%2Crecord_id%2Cuhslc_id%2Cgloss_id%2Cssc_id%2Clast_rq_date&time%3E=1700-1-1T00%3A00%3A00Z&time%3C=2050-12-31T22%3A59%3A59Z&gloss_id=',
 'research_quality': 'https://uhslc.soest.hawaii.edu/erddap/tabledap/global_hourly_rqds.csv?sea_level%2Ctime%2Cstation_name%2Crecord_id%2Cuhslc_id%2Cversion%2Cgloss_id%2Cssc_id%2Creference_code%2Creference_offset&time%3E=1700-01-01T00%3A00%3A00Z&time%3C=2050-12-31T13%3A59%3A59Z&gloss_id='}

In [14]:
pd.read_csv(gloss.url['research_quality']+'284')

C:\Users\Hessel\AppData\Local\Temp\ipykernel_36940\3096957685.py:1: DtypeWarning: Columns (0,9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(gloss.url['research_quality']+'284')

,sea_level,time,station_name,record_id,uhslc_id,version,gloss_id,ssc_id,reference_code,reference_offset
0,millimeters,UTC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,millimeters
1,3680,1917-12-29T09:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
2,4690,1917-12-29T10:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
3,5370,1917-12-29T10:59:59Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
4,5680,1917-12-29T12:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
...,...,...,...,...,...,...,...,...,...,...
885419,6370,2018-12-31T19:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
885420,6360,2018-12-31T19:59:59Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
885421,6020,2018-12-31T21:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
885422,5490,2018-12-31T22:00:00Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0
885423,4960,2018-12-31T22:59:59Z,Cuxhaven,8251.0,825.0,A,284.0,cuxh,R,0